[Unit]
Description=Sirius Audio Authenticate Service
After=network.target

[Service]
Type=simple
User=siriusaudio_daemon
ExecStart=/var/lib/sirius-installer/authenticate.sh
Restart=never

[Install]
WantedBy=multi-user.target
